/**
 * Generic
 */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  color: #335;
}
a {
  color: cornflowerblue;
}
.hidden {
  display: none;
}

/**
 * Typography
 */
body {
  font-size: 16px;
}
@media (min-width: 375px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 36px;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 42px;
  }
}

/**
 * Button
 */
a.button {
  display: block;
  margin: 1em 0 0;
  border: 0.07em solid cornflowerblue;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em 0.1em -0.05em cornflowerblue;
  padding: 0.2em 0.5em 0.3em;
  text-align: center;
  text-decoration: none;
}

/**
 * Nav
 */
.nav {
  padding: 1em;
}
.nav a {
  max-width: 6.5em;
  font-size: 1.6em;
}
.nav a:first-child {
  margin-top: 0;
}
.nav a:hover,
.nav a:focus,
.nav a:active,
.nav a.active {
  background-color: cornflowerblue;
  color: #fff;
}

/**
 * Logo
 */
.logo {
  display: flex;
  margin: 1em 3em 0 0;
  font-size: 0.38em;
}
.nav__logo.logo {
  margin: 0;
  font-size: 1em;
}
.logo a {
  display: flex;
  text-decoration: none;
}
.logo__svg {
  width: 4em;
  height: 4em;
}
.logo__title {
  margin: 0 0 0 0.5em;
  padding-top: 0.2em;
  color: #000;
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: normal;
  line-height: 1.6;
}
.logo__title span {
  /* because div is not allowed in h1 */
  display: block;
}

/**
 * Layout
 */
main {
  min-height: 100vh;
  margin: 0 auto;
  padding: 1em 1em 0 1em;
}
.section__header {
  display: flex;
  margin-bottom: 1em;
}
.section__title {
  margin: 0;
  font-weight: normal;
}

/**
 * Radical block
 */
.radical-block {
  display: inline-block;
  width: 4em;
  min-height: 4em;

  border-radius: 0.2em;
  cursor: pointer;
  color: #335;
  text-decoration: none;
}
.radical-table .td:hover,
.radical-table .td:active,
.radical-table .td:focus {
  background-color: cornflowerblue;
  background-color: rgba(100, 149, 237, 0.2);
}
.pinyin,
.radical,
.english {
  line-height: 1;
  text-align: center;
}
.pinyin,
.english {
  font-size: 0.8em;
}
.pinyin {
  margin-top: 0.2em;
}
.radical {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  font-size: 1.6em;
  color: #000;
}
.english {
  margin-bottom: 0.3em;
}

/**
 * Radical table
 */
.radical-table .tr {
  position: relative;
  border-top: 0.07em solid #aac;
  padding: 1em 0 1em 2em;
}
.radical-table .th,
.radical-table .td {
  display: inline-block;
  vertical-align: top;
}
.radical-table .th {
  position: absolute;
  top: 1em;
  left: 0;
  font-size: 1.6em;
  color: #aac;
}
.radical-table .td {
  margin: 0 0 1.5em 1.25em;
}

/**
 * Radical random
 */
.radical-random {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.07em solid #aac;
  padding-top: 1em;
}
.radical-random .radical-block {
  font-size: 3em;
}
.radical-random .button {
  display: inline-block;
}
