html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif SC', serif;
  color: #335;
}

body {
  font-size: 16px;
}
@media (min-width: 375px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 36px;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 42px;
  }
}

a {
  color: cornflowerblue;
}
.hidden {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.nav a {
  display: inline-block;
  margin-left: 1em;
  border: 0.07em solid cornflowerblue;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em 0.1em -0.05em cornflowerblue;
  padding: 0.2em 0.5em 0.3em;
  text-decoration: none;
  font-size: 0.8em;
}
.nav a:hover,
.nav a:focus,
.nav a:active,
.nav a.active {
  background-color: cornflowerblue;
  color: #fff;
}
.nav a:first-child {
  margin-left: 0;
}

main {
  min-height: 100vh;
  margin: 0 auto;
  padding: 1em 1em 0 1em;
}

.radicals-table .tr {
  position: relative;
  border-top: 0.07em solid #aac;
  padding: 1em 0 1em 2em;
}
.radicals-table .th,
.radicals-table .td {
  display: inline-block;
  vertical-align: top;
}
.radicals-table .th {
  position: absolute;
  top: 1em;
  left: 0;
  font-size: 1.6em;
  color: #aac;
}
.radicals-table .td {
  width: 4em;
  min-height: 4em;
  margin: 0 0 1.5em 1.25em;
  border-radius: 0.2em;
  cursor: pointer;
  color: #335;
  text-decoration: none;
}
.radicals-table .td:hover,
.radicals-table .td:active,
.radicals-table .td:focus {
  background-color: cornflowerblue;
  background-color: rgba(100, 149, 237, 0.2);
}
.pinyin,
.radical,
.english {
  line-height: 1;
  text-align: center;
}
.pinyin,
.english {
  font-size: 0.8em;
}
.pinyin {
  margin-top: 0.2em;
}
.radical {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  font-size: 1.6em;
  color: #000;
}
.english {
  margin-bottom: 0.3em;
}
